* {
    background-color: #dede1d;
    margin: 0;
    
}

.container {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: Arial;
    background-color: blueviolet;
    border-radius: 20px;
    justify-self: center    
}

.container h1 {
    background-color: blueviolet;
    border-radius: 20px
}

.container i {
    font-size: 50px;
    background-color: blueviolet;
    border-radius: 20px
}

.sub {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial
}

.jjs input {
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 60px;
    background-color: aliceblue
}

.jjs button {
    margin-top: 20px;
    border-radius: 60px
}

.resultado {
    margin: 3px
}

.container h3 {
    background-color: blueviolet
}
